.about_block{
    background-image: url("../images/karta.svg");
    background-size: 75vw 75vw;
    background-repeat: no-repeat;
    width: 100vw;
    height: 150vh;
    position: relative;
    background-position: 37vw center;
    margin-top: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    


}


.about {
    display: flex;

  }


  .column_2{
    margin-top: 30vh;
  }


  .about_info{
    margin-top: -30vh;
  }
  



  .infrastruktura{
    background-image: url("../images/infrastruktura.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 26vw;
    height: 90vh;
    background-size: 60vh 50vw;
}


.medeu{
    background-image: url("../images/medeu.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 26vw;
    height: 90vh;
    background-size: 60vh 50vw;
}


.terrenkur{
    background-image: url("../images/terrenkur.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 26vw;
    height: 90vh;
    background-size: 60vh 50vw;
}


.polozhenie{
    background-image: url("../images/polozhenie.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 26vw;
    height: 90vh;
    background-size: 60vh 50vw;
}


